<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{cookiecutter.website_title}}</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="container">
    <main>
    {% raw %}
    {% block main %}

    {% endblock main %}
    {% endraw %}
    </main>
    <footer>
    </footer>
  </div>

  <script src="/assets/jquery-3.1.1.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
